* {
  font-family: 'Kiwi Maru', sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background: rgb(194,144,228);
  background: linear-gradient(120deg, rgba(194,144,228,1) 0%, rgba(130,211,222,1) 50%, rgba(252,176,69,1) 100%);
}

#root {
  display: grid;
  place-items: center;
}

.box {
  width: 400px;
  height: 500px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
/*  justify-content: space-between; */
}

.info {
  width: 100%;
}

.icons {
  display: flex;
  justify-content: center;
}

.icon {
  border-radius: 50%;
}

.socials {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
}

.tooltip {
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.tooltip span {
  margin: 0;
  padding: 0.3rem;
}
.tooltiptext {
  display: none;
  position: absolute;
  padding: 10px;
  font-size: 12px;
  line-height: 1.6em;
  color: #fff;
  border-radius: 5px;
  background: #000;
  width: 100px;
}
.tooltiptext:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid transparent;
  border-top: 15px solid #000;
  margin-left: -15px;
}
.tooltip:hover .tooltiptext {
  display: inline-block;
  top: -50px;
  left: -40px;
}

footer {
  position: fixed;
  bottom: 0;
}